.titulo {
    color: rgba(246, 8, 198, 0.811);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 400%;
    text-align: center;
    margin: 5% 5% 5% 5%;
}

.subtitulo {
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 200%;
    text-align: center;
}

.oraciones {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}


.col-sm-4{
    min-width: 300px;
    margin-bottom: 0px;
    font-family: 'Indie Flower', cursive;
    font-size: 100%;
    align-items: center;
}


body {
    height: 800px;
    background-image: url("./imágenes/Diseño\ sin\ título.png");
    background-size: cover;
    background-size: 25rem;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 5% 7% 40% 7%;

}