.subtitulo{
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 200%;
    text-align: center;
}
.oraciones{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}

body {
    height: 800px;
    background-image: url("../imágenes/Diseño\ sin\ título.png");
    background-size: cover;
    background-size: 25rem;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 5% 7% 20% 7%;
    padding: auto;
  }